<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TheEvent Bootstrap Template - Speaker Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img2/Eventos.jpg" rel="icon">
  <link href="/img2/Eventos.jpg" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/vendor2/aos/aos.css}" rel="stylesheet">
  <link th:href="@{/vendor2/bootstrap2/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/vendor2/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/vendor2/glightbox/css/glightbox.min.css}" rel="stylesheet">
  <link th:href="@{/vendor2/swiper/swiper-bundle.min.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/css2/style.css}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: TheEvent
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center header-inner">
    <div class="container-fluid container-xxl d-flex align-items-center">

      <div id="logo" class="me-auto text-center">
        <a th:href="@{/usuarios/eventos}"  class="scrollto"> <img src="/img2/Eventos.jpg" height="60" width="100" alt="" title=""></a>
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" th:href="@{/usuarios/eventos}">Inicio</a></li>
        </ul>
      </nav>
    </div>
  </header><!-- End Header -->

  <main id="main" class="main-page">

    <!-- ======= Speaker Details Sectionn ======= -->
    <section id="speakers-details">
      <div class="container">


          <div class="col-md-12 text-center">
            <img src="/img2/speakers/eventos/Ofensa.png" alt="Speaker 1" class="img-fluid">
            </div>
      </div>
    </section>

    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">

            <div class="col-lg-6 col-md-6 footer-info">
              <img src="/img2/Eventos.jpg" alt="Eventos.com">
              <p>A Eventos.com é uma plataforma online que oferece soluções abrangentes para a organização de eventos.
                Sua proposta inclui recursos para venda de ingressos, marketing, gestão de
                participantes e suporte técnico. Projetada para simplificar o planejamento e execução de diversos tipos
                de eventos, a plataforma visa proporcionar uma experiência integrada tanto para organizadores.</p>
            </div>


            <div class="col-lg-6 col-md-6 footer-contact text-center">
              <h4>Fale com a gente!</h4>
              <p>
                Xanxerê, SC<br>
                <strong>Telefone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> Eventos@Gmail.com<br>
              </p>
            </div>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>Eventos.com</strong>. Todos os Direitos Reservados
        </div>
        <div class="credits">
          Feito por <a href="https://github.com/mathiasbasso/cadastroEvento">Mathias e Igor</a>
        </div>
      </div>
    </footer><!-- End  Footer -->

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <!-- Vendor JS Files -->
  <script src="/vendor2/aos/aos.js"></script>
  <script src="/vendor2/bootstrap2/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor2/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor2/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor2/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js2/main.js"></script>

</body>

</html>