<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TheEvent Bootstrap Template - Speaker Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img2/Eventos.jpg" rel="icon">
  <link href="/img2/Eventos.jpg" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/vendor2/aos/aos.css}" rel="stylesheet">
  <link th:href="@{/vendor2/bootstrap2/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/vendor2/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/vendor2/glightbox/css/glightbox.min.css}" rel="stylesheet">
  <link th:href="@{/vendor2/swiper/swiper-bundle.min.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/css2/style.css}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: TheEvent
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center header-inner">
    <div class="container-fluid container-xxl d-flex align-items-center">

      <div id="logo" class="me-auto">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a th:href="@{/usuarios/eventos}"  class="scrollto"> <img src="/img2/Eventos.jpg" height="60" width="100" alt="" title=""></a>
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <ul>
            <li><a class="nav-link scrollto active" th:href="@{/usuarios/eventos}">Inicio</a></li>
          </ul>
        </ul>
      </nav>
    </div>
  </header><!-- End Header -->

  <main id="main" class="main-page">

    <!-- ======= Speaker Details Sectionn ======= -->
    <section id="speakers-details">
      <div class="container">
        <div class="section-header">
          <h2>ExpoFemi 2024!</h2>
          <p>20º Edição, comemorando 70 anos da cidade!</p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <img src="/img2/speakers/eventos/Femi.png" alt="Speaker 1" class="img-fluid">
          </div>

          <div class="col-md-6">
            <div class="details">
              <h2>ExpoFemi</h2>
              <div class="social">
                <a href="https://www.instagram.com/expofemixanxere/" target="_blank"><i class="bi bi-instagram"></i></a>
              </div>
              <p>Considerada uma das maiores feiras multissetoriais do Sul do Brasil, a ExpoFemi está programada para ocorrer de 24 de fevereiro a 03 de março, prometendo atrativos para públicos de diversas faixas etárias e proporcionando um ambiente propício para a realização de negócios.</p>

               <p> O Parque de Exposições Rovilho Bortoluzzi, palco do evento, espera receber um público superior a 200 mil pessoas, contando com a participação de mais de 350 expositores. A projeção de negócios para a edição de 2024 é estimada em aproximadamente R$ 200 milhões. Em um marco inédito na história tanto do município quanto da própria feira, a ExpoFemi terá duas mulheres no comando: Iara Callfass como presidente e Andreza Gallas como vice-presidente.</p>

              <h5> Os ingressos ainda não estão disponíveis para venda, mas você pode reservar que depois a gente te chama!</h5>

            </div>
            <a th:href="@{/usuarios/novo}" th:target="_blank" class="btn btn-danger">Reservar nome na lista</a>
          </div>
        </div>
        <br>
          <div class="container">
            <div class="section-header">
              <h2>Confira os shows!</h2>
              <p>Quem vai agitar a cidade?</p>
            </div>

            <div class="row">
              <div class="col-lg-4 col-md-6">
                <img src="/img2/shows/show1.png" alt="Speaker 1" class="img-fluid">
              </div>
              <div class="col-lg-4 col-md-6">
                  <img src="/img2/shows/show2.png" alt="Speaker 1" class="img-fluid">
              </div>
              <div class="col-lg-4 col-md-6">
                  <img src="/img2/shows/show3.png" alt="Speaker 1" class="img-fluid">
              </div>
              <br>
              <div class="col-lg-4 col-md-6">
                <img src="/img2/shows/show4.png" alt="Speaker 1" class="img-fluid">
              </div>
              <div class="col-lg-4 col-md-6">
                <img src="/img2/shows/show5.png" alt="Speaker 1" class="img-fluid">
              </div>
              <div class="col-lg-4 col-md-6">
                <img src="/img2/shows/show6.png" alt="Speaker 1" class="img-fluid">
              </div>
              <br>
              <div class="col-lg-4 col-md-6">
                <img src="/img2/shows/show7.png" alt="Speaker 1" class="img-fluid">
              </div>
              <div class="col-lg-4 col-md-6">
                <img src="/img2/shows/show8.png" alt="Speaker 1" class="img-fluid">
              </div>
              <div class="col-lg-4 col-md-6">
                <img src="/img2/shows/show9.png" alt="Speaker 1" class="img-fluid">
              </div>
            </div>



            </div>
        <br>
        <section id="#speakers-details">
          <div class="container">
            <section id="buy-tickets" class="section-with-bg">
              <div class="container" data-aos="fade-up">
        
                <div class="section-header">
                  <h2>Valores dos shows</h2>
                  <p>Estes serão os preços:</p>
                </div>
        
                <div class="row">
                  <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="card mb-5 mb-lg-0">
                      <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">Pista</h5>
                        <h6 class="card-price text-center">R$ 35,00</h6>
                        <hr>
                        <div class="text-center">
                          <a th:href="@{/usuarios/novo}" th:target="_blank" class="btn">Reservar nome na lista</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="card mb-5 mb-lg-0">
                      <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">Pista VIP</h5>
                        <h6 class="card-price text-center">R$95,00</h6>
                        <hr>
                        <div class="text-center">
                          <a th:href="@{/usuarios/novo}" th:target="_blank" class="btn">Reservar nome na lista</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Pro Tier -->
                  <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">Camarote</h5>
                        <h6 class="card-price text-center">R$250,00</h6>
                        <hr>
                        <div class="text-center">
                          <a th:href="@{/usuarios/novo}" th:target="_blank" class="btn">Reservar nome na lista</a>
                        </div>
        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </section>
        </div>
      </section>
      </div>
    </section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6 footer-info">
            <img src="/img2/Eventos.jpg" alt="Eventos.com">
            <p>A Eventos.com é uma plataforma online que oferece soluções abrangentes para a organização de eventos.
              Sua proposta inclui recursos para venda de ingressos, marketing, gestão de
              participantes e suporte técnico. Projetada para simplificar o planejamento e execução de diversos tipos
              de eventos, a plataforma visa proporcionar uma experiência integrada tanto para organizadores.</p>
          </div>


          <div class="col-lg-6 col-md-6 footer-contact text-center">
            <h4>Fale com a gente!</h4>
            <p>
              Xanxerê, SC<br>
              <strong>Telefone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> Eventos@Gmail.com<br>
            </p>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Eventos.com</strong>. Todos os Direitos Reservados
      </div>
      <div class="credits">
        Feito por <a href="https://github.com/mathiasbasso/cadastroEvento">Mathias e Igor</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <!-- Vendor JS Files -->
  <script src="/vendor2/aos/aos.js"></script>
  <script src="/vendor2/bootstrap2/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor2/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor2/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor2/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js2/main.js"></script>

</body>

</html>